basePath: /
definitions:
  main.ClientVersionCount:
    properties:
      clientVersion:
        type: string
      count:
        type: integer
    type: object
  main.FullnodeApi:
    properties:
      city:
        type: string
      clientVersion:
        type: string
      country:
        type: string
      isSynced:
        type: boolean
      location:
        type: string
      org:
        type: string
      postal:
        type: string
      region:
        type: string
      timezone:
        type: string
      updatedAt:
        type: string
    type: object
  main.NumNodesDb:
    properties:
      count:
        type: integer
      createdAt:
        type: string
    type: object
  main.SyncCount:
    properties:
      count:
        type: integer
      isSynced:
        type: boolean
    type: object
host: map.alephium.notrustverify.ch
info:
  contact: {}
  description: Find connected fullnodes peers and get their approximate location
  title: Fullnodes Aggregator API
  version: "1.0"
paths:
  /fullnodes:
    get:
      parameters:
      - description: Last update
        in: query
        name: lastUpdate
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/main.FullnodeApi'
            type: array
      summary: Get detected fullnodes peers
      tags:
      - fullnodes
  /historic:
    get:
      parameters:
      - description: Limit number of historic data, default 50
        in: query
        name: limt
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/main.NumNodesDb'
            type: array
      summary: Return number of nodes connected historically
      tags:
      - fullnodes
  /syncstatus:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/main.SyncCount'
            type: array
      summary: Get number of fullnodes synced and not synced
      tags:
      - fullnodes
  /versions:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/main.ClientVersionCount'
            type: array
      summary: Get version run by fullnodes peers
      tags:
      - fullnodes
schemes:
- https
swagger: "2.0"
